!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Mocha Spec Runner
    link(rel='stylesheet', href='lib/mocha/mocha.css')
  body

    #mocha

    #fixtures(style="display:none;")
      each module in getTestableModules('mocha')
        - moduleName = module.split('/')[1]
        !{renderSingle('app/modules/'+moduleName+'/html/'+moduleName+'.jade', 'app/modules/'+moduleName+'/demo/data/'+moduleName+'.json')}

    script(src='lib/mocha/mocha.js')
    script.
      mocha.ui('bdd');
      mocha.bail(false);
      mocha.reporter('html');

    // assertion framework
    script(src='lib/chai.js')
    script.
      var assert = chai.assert;
      var expect = chai.expect;

    script(src='/bower_components/requirejs/require.js')

    script.
      require(["/js/common.js"], function () {
        require(["secondary/index"], function(){
          require(!{JSON.stringify(getTestableModules('mocha'))}, function(){
            mocha.run()
          });
        });
      });
