!!! 5
html
  head
    meta(charset='utf-8')
    title QUnit
    link(rel='stylesheet', href='resources/qunit.css')
  body

  #qunit

  #fixtures
    !{getFixtures()}

  script(src='resources/qunit.js')
  script(src='/bower_components/requirejs/require.js')

  script.
    require(["/js/common.js"], function () {
      require(["secondary/index"], function(){
        require(!{JSON.stringify(getTestableModules('qunit'))}, function(){
          // Run Specs?
        });
      });
    });
