!!! 5
html
  head
    meta(charset='utf-8')
    title QUnit
    link(rel='stylesheet', href='resources/qunit.css')
  body

  #qunit

  #fixtures
    // START: FIXTURES
    // END: FIXTURES

  script(src='resources/qunit.js')
  script(src='../../bower_components/requirejs/require.js')

  script.
    require(["../../common/js/common.js"], function () {
      require(["secondary/index"], function(){
        require([
          // START: SPECS
          // END: SPECS
        ], function(){
          // Run Specs?
        });
      });
    });
