
if state.modulescss
  for name in state.modulescss
    hrf = "css/modules/" + name + ".css"
    link(rel="stylesheet", href= hrf)

script(src="js/libs/require.js")

- for ( i in state.javascriptModules )
  - state.javascriptModules[i] = 'modules/' + state.javascriptModules[i] + '/index'

script.
  require(["js/common"], function () {
    require(["require/index"], function(){
      require(!{JSON.stringify(state.javascriptModules)});
    });
  });

- delete state.modulescss
- delete state.javascriptModules

</html>
