
blocks = {};

mixin defineBlock(name)
  block
  len = buf.length;
  - buf.push('');
  - blocks[name] = len;

mixin appendBlock(name)
  start = buf.length;
  block
  - buf[blocks[name]] += buf.splice(start, buf.length - start).join('');

mixin includeCSS(moduleName)
  if (!state.modulescss)
    - state.modulescss = []
  if(state.modulescss)
    if (state.modulescss.indexOf(moduleName) == -1)
      - state.modulescss.push(moduleName)

mixin includeJavascriptModule(moduleName)
  if ( !state.javascriptModules )
    - state.javascriptModules = []
  if ( state.javascriptModules )
    if ( state.javascriptModules.indexOf(moduleName) == -1 )
      - state.javascriptModules.push(moduleName)
