include ../../../common/html/jade-helpers.jade

doctype 5
include ../../../common/html/ie-conditionals.html

head
  title <%= _.titleize(_.humanize(moduleName)) %> Layouts
  include ../../../common/html/head.jade

body

  .container
    h4= '<%= _.titleize(_.humanize(moduleName)) %>'

  !{renderSingle('app/modules/<%= _.dasherize(moduleName) %>/html/<%= _.dasherize(moduleName) %>.jade', 'app/modules/<%= _.dasherize(moduleName) %>/demo/data/<%= _.dasherize(moduleName) %>.json')}

  !{renderSingle('app/common/html/foot.jade')}
</html>

